.User {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.User.active {
    background: rgba(0, 0, 0, 0.3);
}

.User:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.User__pic {
    width: 50px;
    border-radius: 50%;
}

.User__details {
    display: none;
}

/* not small devices  */

.Sidebar.open .User__details {
    display: block;
    padding: 0 0 0 1rem;
}

.Sidebar.open .User__details-name {
    margin: 0;
    color: #fff;
    font-size: 1.2rem;
}

.Sidebar.open .User__details-status {
    margin-top: 0.5rem;
    display: none
}

.Sidebar.open .User {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

.User__details-name {
    user-select: none;
}

@media (min-width: 576px) {
    .User__details {
        display: block;
        padding: 0 0 0 1rem;
    }
    .User__details-name {
        margin: 0;
        user-select: auto;
        color: #fff;
        font-size: 1.2rem;
    }
    aside.Sidebar .User .User__details-status {
        display: block;
        margin-top: 0.5rem
    }
    .User {
        border-bottom: 1px solid rgba(0, 0, 0, 0.3)
    }
}